<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover"><link rel=stylesheet href=https://at.alicdn.com/t/font_746239_sfcfjc4mgbf.css><title>我的IM</title><link href=./static/css/app.08354bf0c60b088849b559fb5feb476b.css rel=stylesheet></head><body><div id=app></div><script type=text/javascript src=./static/js/manifest.3ad1d5771e9b13dbdad2.js></script><script type=text/javascript src=./static/js/vendor.0457b57192ec5d8fcc0c.js></script><script type=text/javascript src=./static/js/app.848ad1bed3c183c21ac9.js></script></body><style>html{
		font-size: calc( 100vw / 320 * 20 );
	}

	html,body{
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
	body,p,div,ul,ol,input,textarea,h1,h2,h3,h4,h5,h6,select{
	  margin: 0;
	  padding: 0;
	  border: 0;
	  list-style: none;
	  resize: none;
	  font-size: 0.55rem;
	}
	table{
	  width: 100%;
	  border-collapse: collapse;
	}
	#app{
	  height: 100%;
	  overflow-y: scroll;
	}</style></html>